@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #E5DCC3;
    /* position: fixed; */
}

.search .buscar{
    background-color: #E5DCC3 ;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 3px solid #9A9483;
    outline: none;
    color: #9A9483 ;
}

.centro {
    display: flex;
    flex-direction: column;
}
.logo {
    margin-left: 60px;
    margin-right: 30px;
    max-width: 6rem;
}

.nav-list {
    display: flex;
    gap: 10px;
}

ul, ol{
    list-style: none;
}

.nav-list li .boton-categoria {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
    color: #9A9483;
    background-color: #E5DCC3;
    display: block;
    position: relative;
    padding: 8px 13px;
    cursor: pointer;
}

.nav-list li a{
    text-decoration: none;
    color: #9A9483;
    display: block;
    position: relative;
    cursor: pointer;
}

.nav-list li .boton-categoria:hover{
    background-color: #C7BEA2;
    color: #E5DCC3;
}

.nav-list li ul{
    display: none;
    position: absolute;
}

.nav-list li:hover > ul{
    display: block;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.car .boton-carrito{
    font-size: 23px;
    color: #9A9483;
    text-decoration: none;
}

.numerito{
    background-color: beige ;
    color: #9A9483 ;
    padding: .10rem.20rem;
    border-radius: .25rem;
}


/* Hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    background-color: rgba(245, 245, 220, 0.644);
}

.img img{
    width: 450px;
    height: 450px;
    border-radius: 25%;
    position: relative;
    z-index: 0;
}

.img .sale img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35%;
    top: 33%;
}

.container-hero{
    color: #9A9483;
}

.container-hero h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.container-hero h2, h3{
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
}

.informacion {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(245, 245, 220, 0.37);
    color: #9A9483;
}

.send, .cuotas{
    display: flex;
}

.send-off{
    display: flex;
}

.send h2{
    font-size: 20px;
    padding-left: 10px;
}

.cuotas h2{
    font-size: 20px;
    padding-left: 10px;
}

.send-off h2{
    font-size: 20px;
    padding-left: 10px;
}

.productos-1{
    background-color: #C7BEA2; 
    height: 450px;
} 


.grid-container{
    display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 400px;
        gap: 30px;
        align-content: center;
        justify-content: center;
        cursor: default;
}

.grid-item{
    margin-top: 20px;
    margin-bottom: 20px; 
    position: relative;
    text-align: center;
    transition: all 400ms ease;
}

.grid-item:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.grid-item h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #9A9483;
    background-color: rgba(245, 245, 220, 0.815);
}

.grid-item img{
    width: 300px;
    height: 400px;
}

.hogar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #9A9483;
    background-color: rgba(245, 245, 220, 0.37);
    padding-top: 40px;
    padding-bottom: 40px;
}

/* tarjetas productos */

.contenedor-productos{
    background-color: rgba(245, 245, 220, 0.644);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.producto-imagen{
    width: 280px ;
    height: 300px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 1rem;
}

.producto-detalle{
    margin-left: 10px;
    background-color: #9a9483f5;
    color:  #E5DCC3;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 18px;

}

.producto-agregar{
    border: 0;
    background-color: #C7BEA2;
    color: #8a8475;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #E5DCC3;
    transition: .1s;
}

.producto-agregar:hover{
    background-color: #9A9483;
    color: #E5DCC3;
}

/* FOOTER */

.footer-caja {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5DCC3;
}

.footer-titulo h2 {
    color: #9A9483;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-redes {
    padding: 5px;
    color: #9A9483;
}

.footer-copy p{
        color: #9A9483;
        margin-top: 10px;
}

/* CARRITO */

.car .boton-volver{
    text-decoration: none;
    color: #9A9483;
    background-color: beige;
    display: block;
    position: relative;
    padding: 8px 13px;
    cursor: pointer;
}

.carrito-titulo h2{
    font-size: 35px;
    background-color: rgba(245, 245, 220, 0.37);
    color: #9A9483;
    padding: 20px;

}
.carrito{
    background-color: rgba(245, 245, 220, 0.37);
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    height: 265px;
    font-size: 25px;
    color: #9A9483;
    text-align: center;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5DCC3 ;
    color: #9A9483;
    columns: #9A9483;
    padding: .5rem;
    border-radius: 1rem;
    margin: 30px;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
    color: #7c7767;
}

.carrito-producto-eliminar{
    border: 0;
    width: 2rem;
    background-color: transparent;
    color: rgba(204, 6, 6, 0.808);
    cursor: pointer;

}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: #f5f5d3;
    color: #9A9483;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 20px;
}

.carrito-acciones-derecha{
    display: flex;
    margin-right: 20px;
}

.carrito-acciones-total{
    display: flex;
    background-color: #f5f5d3;
    color: #9A9483;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase; 
}    


.carrito-acciones-comprar{
    border: 0;
    background-color: #9A9483;
    color: #E5DCC3;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}

/* MEDIA QUERYS */

@media screen and (max-width:1024px){
    
}

@media screen and (max-width:768px){
    .header .search .buscar{
        width: 140px;
    }

    .header .centro .logo {
        margin-left: 60px;
        max-width: 5rem;
    }

    .header .nav .nav-list {
        gap: 7px;
    }

    .header .car .boton-carrito .numerito{
        font-size: 20px;
    }

    .hero .img img{
        width: 300px;
        height: 300px;
    }
    .hero .img .sale img{
        width: 80px;
        height: 80px;
    }
    .hero .container-hero h1{
        text-align: center;
        font-size: 30px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .hero .container-hero h2, h3{
        font-size: 17px;
    }
    .informacion .send h2{
        font-size: 16px;
        padding-left: 10px;
    }
    
    .informacion .cuotas h2{
        font-size: 16px;
        padding-left: 10px;
    }
    
    .informacion .send-off h2{
        font-size: 16px;
        padding-left: 10px;
    }

    .ocultar .productos-1{
        height: 350px;
    } 
    .ocultar .productos-1 .grid-container{
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 300px;
        gap: 20px;    
    }
    .productos-1 .grid-container .grid-item img{
        width: 200px;
        height: 300px;
    }
    .cards .contenedor-productos{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: .5rem;
    }
    .contenedor-productos .producto-imagen{
        width: 250px ;
        height: 270px;
        margin-top: 10px;
        margin-left: 30px;
        border-radius: 1rem;
    }
    .contenedor-productos .producto-detalle{
        width: 285px;
        margin-left: 8px;
        background-color: #9a9483f5;
        color:  #E5DCC3;
        padding: .4rem;
        margin-bottom: 10px;
        border-radius: 1rem;
        margin-top: -1rem;
        gap: .25rem;
    }
    
    .contenedor-productos .producto-titulo{
        font-size: 15px;
    
    }
    
    .contenedor-productos .producto-agregar{
        padding: .4rem;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid #E5DCC3;
        transition: .1s;
    }

    .footer-caja .footer-titulo h2 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-caja .footer-copy p{
        font-size: 15px;
    }
        /* CARRITO */

        .header .car .boton-volver{
            width: 110px;
            font-size: 15px;
            padding: 8px 13px;
            
            }
        main .carrito-titulo h2{
            font-size: 30px;
            text-align: center;
        }
        .carrito-acciones{
            font-size: 14px;
        }
        .carrito-acciones .carrito-acciones-derecha{
            font-size: 14px;
        }
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #9A9483;
    }

    .cerrar-menu {
        color: #9A9483;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #E5DCC3;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.068);
        z-index: 3;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li .boton-categoria {
        color: #9A9483;
        z-index: 0;
    }

    .nav-list li:hover > ul{
        z-index: 2;
    }
}

@media screen and (max-width:480px){
    .header .search .buscar{
        display: none;
    }

    .header .centro .logo {
        margin: 0;
        align-items: center;
        margin-right: 20px;
    }

    /* .header .nav .nav-list {
        gap: 7px;
    } */

    .header .car .boton-carrito .numerito{
        font-size: 15px;
    }

    .hero .img img{
        width: 150px;
        height: 180px;
    }
    .hero .img .sale img{
        width: 50px;
        height: 60px;
    }
    .hero .container-hero h1{
        text-align: center;
        font-size: 18px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .hero .container-hero h2, h3{
        font-size: 11px;
    }

    .informacion{
        justify-content: space-between;
    }
    .informacion .send h2{
        font-size: 10px;
        padding-left: 5px;
        text-align: center;
    }
    .informacion .send svg{
        padding-left: 9px;
        width: 28px;
    }
    .informacion .cuotas h2{
        font-size: 10px;
        text-align: center;
        padding-left: 5px;
    }
    
    .informacion .send-off h2{
        font-size: 10px;
        text-align: center;
        padding-left: 5px;
    }

    .ocultar .productos-1{
        height: 200px;
    } 
    .ocultar .productos-1 .grid-container{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: 150px;
        gap: 15px;    
        padding-left: 10px;
        padding-right: 10px;
    }
    .ocultar .productos-1 .grid-item h3{
        font-size: 10px;
    }
    .productos-1 .grid-container .grid-item img{
        width: 100px;
        height: 150px;
    }
    .hogar .casa h2{
        height: 50px;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .cards .contenedor-productos{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .contenedor-productos .producto-imagen{
        width: 230px ;
        height: 250px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .contenedor-productos .producto-detalle{
        width: 265px;
        margin-left: 8px;
        padding: .4rem;
        margin-bottom: 10px;
        margin-top: -1rem;
    }
    
    .contenedor-productos .producto-titulo{
        font-size: 13px;
    
    }
    
    .contenedor-productos .producto-agregar{
        padding: .4rem;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid #E5DCC3;
        transition: .1s;
    }

    .footer-caja .footer-titulo h2 {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-caja .footer-copy p{
        font-size: 13px;
    }
        /* CARRITO */
    .header .car .boton-volver{
        width: 90px;
        font-size: 13px;
        padding: 5px 10px;
        
        }
    main .carrito-titulo h2{
            font-size: 25px;
            text-align: center;
    }
    .contenedor-carrito .carrito-productos {
        gap: 1.5rem;
    }
    .carrito-acciones{
        font-size: 14px;
    }
    .carrito-acciones .carrito-acciones-derecha{
        font-size: 14px;
    }
}