* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #E5DCC3;
    /* position: fixed; */
}

.centro {
    display: flex;
    flex-direction: column;
}
.logo {
    margin-left: 70px;
    margin-right: 30px;
    max-width: 6rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

ul, ol{
    list-style: none;
}

.nav-list li .boton-categoria {
    border: none;
    text-decoration: none;
    color: #9A9483;
    background-color: beige;
    display: block;
    position: relative;
    padding: 8px 13px;
    cursor: pointer;
}

.nav-list li .boton-categoria:hover{
    background-color: #C7BEA2;
}

.nav-list li ul{
    display: none;
    position: absolute;
}

.nav-list li:hover > ul{
    display: block;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.car .boton-carrito{
    width: 25px;
    height: 25px;
    color: #9A9483;
    text-decoration: none;
}

.numerito{
    background-color: beige ;
    color: #9A9483 ;
    padding: .15rem.25rem;
    border-radius: .25rem;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #9A9483;
    }

    .cerrar-menu {
        color: #9A9483;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #E5DCC3;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.068);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #9A9483;
        z-index: 0;
    }

    .nav-list li:hover > ul{
        z-index: 2;
    }
}

/* Hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    background-color: rgba(245, 245, 220, 0.644);
}

.img img{
    width: 450px;
    height: 450px;
    border-radius: 25%;
    position: relative;
}

.img .sale img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35%;
    top: 33%;
}

.containerHero{
    color: #9A9483;
}

.containerHero h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.containerHero h2, h3{
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
}

.informacion {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(245, 245, 220, 0.37);
    color: #9A9483;
}

.send, .cuotas, .sendOff{
    display: flex;
}

.send h2{
    font-size: 20px;
    padding-left: 10px;
}

.cuotas h2{
    font-size: 20px;
    padding-left: 10px;
}

.sendOff h2{
    font-size: 20px;
    padding-left: 10px;
}

.productos1{
    background-color: #C7BEA2; 
    height: 450px;
} 


.gridContainer{
    display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 400px;
        gap: 30px;
        align-content: center;
        justify-content: center;
        cursor: default;
}

.gridItem{
    margin-top: 20px;
    margin-bottom: 20px; 
    position: relative;
    text-align: center;
    transition: all 400ms ease;
}

.gridItem:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.gridItem h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #9A9483;
    background-color: rgba(245, 245, 220, 0.815);
}

.gridItem img{
    width: 300px;
    height: 400px;
}

.hogar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #9A9483;
    background-color: rgba(245, 245, 220, 0.37);
    padding-top: 40px;
    padding-bottom: 40px;
}

/* tarjetas productos */

.contenedor-productos{
    background-color: rgba(245, 245, 220, 0.644);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}

.producto-imagen{
    width: 280px ;
    height: 300px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 1rem;
}

.producto-detalle{
    margin-left: 10px;
    /* background-color: rgb(245, 245, 220); */
    background-color: #9a9483f5;
    color:  #E5DCC3;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: 1rem;
    margin-top: -1rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 18px;

}

.producto-agregar{
    border: 0;
    background-color: #C7BEA2;
    color: #8a8475;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #E5DCC3;
    transition: .1s;
}

.producto-agregar:hover{
    background-color: #9A9483;
    color: #E5DCC3;
}

/* FOOTER */

.footer-caja {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5DCC3;
}

.footer-titulo h2 {
    color: #9A9483;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-redes {
    padding: 5px;
    color: #9A9483;
}

.footer-copy p{
        color: #9A9483;
        margin-top: 10px;
}

/* CARRITO */

.carrito{
    background-color: rgba(245, 245, 220, 0.37);
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color: #9A9483;
    display: none;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5DCC3 ;
    columns: #9A9483;
    padding: .5rem;
    border-radius: 1rem;
    margin: 30px;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;

}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: #f5f5d3;
    color: #9A9483;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;

}

.carrito-acciones-total{
    display: flex;
    background-color: #f5f5d3;
    color: #9A9483;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-transform: uppercase; 
}    


.carrito-acciones-comprar{
    border: 0;
    background-color: #9A9483;
    color: #E5DCC3;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled{
    display: none;
}
